<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0017)http://z3web.net/ -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


  <title>百合传媒 | 网站建设,昆明网站建设,云南网站建设,网络公司,昆明网络公司,云南网络公司,集团网站建设,Flash网站建设,网页设计,昆明网页设计,昆明网站公司</title>

  <meta name="keywords" content="品牌网站设计，品牌网站建设,网站建设,昆明网站建设,云南网站建设,昆明网络公司,云南网络公司,集团网站建设,Flash网站建设,房地产网站开发,医药公司网站建设,昆明网页设计,昆明网站公司,高端网站建设，高端网站设计">

  <meta name="description" content="高端品牌网站设计,昆明网站建设,昆明网站制作,昆明网站设计,昆明网页设计,Z3视觉互动,咨询电话：13529186164">

  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="../javascripts/jquery.min.js"></script>

  <script type="text/javascript" src="../javascripts/jquery.plugin.js"></script>

  <script type="text/javascript" src="../javascripts/script.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
